*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #161722;
    font-size: 18px;
}

/* Dark Mode */
body.dark-mode {
    background-color: #161722;
    color: white;
  }
  
  /* Light Mode */
  body.light-mode {
    background-color: #ffffff;
    color: black;
  }
  

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 350px;
    z-index: -1;
}

.background-image img {
    width: 100%;
    object-fit: cover;
    min-height: 350px;
    object-position: left;
}

.mode img {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.app-name {
    color: white;
    letter-spacing: 10px;
    font-weight: bold;
}

.app-name h1 {
    font-size: 50px;
    font-weight: 500;
    color: white;
}

button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.new-list,
.todo-text,
.texts-info {
  background-color: #21212C;
}

.new-list {
    background-color: #21212C;
    height: 70px;
    width: 100%;
    margin-top: 5px;
    border-radius: 8px;
    display: flex;
}

.new-list:hover,
.new-list:focus-within {
    outline: 2px solid white;
}

.mark {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marked {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid #393a4c;
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marked img {
    visibility: hidden;
}

.marked.checked img,
.marked:hover img {
    visibility: visible;
}

.marked:hover,
.marked.checked {
    border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.new-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-input form {
    flex-grow: 1;
    display: flex;
}

.new-input input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ebebf3
}

.new-input input::placeholder {
    color: #4D5066;
}

.new-input.done {
    opacity: 1.5;
}

.new-input.done input[type="text"] {
    text-decoration: line-through;
}

.text-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: 	#eeeeee;
}

.text-item.checked {
    text-decoration: line-through;
    color: #4d5066;
}

.todo-text {
    width: 100%;
    height: 70px;
    font-size: 18px;
    background-color: #21212C;
    display: flex;
    z-index: 1;
    border-bottom: 1px solid #393A4C;
    cursor: pointer;
    transition: all .25s ease;
    transition-property: box-shadow, transform, border-color;
}

.todo-text:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px #161722;
    border-color: #25273c;
}

.todo-list-items {
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #25273C;
    box-shadow: 0px 2px 20px 0px #0a0a0a;
    margin-bottom: 30px;
}

.texts-info {
    height: 70px;
    width: 100%;
    font-size: 14px;
    color: #8585b3;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

.todo-ranking {
    display: flex;
    justify-content: center;
}

.todo-ranking span {
    padding: 0 6px;
    cursor: pointer;
}

.todo-ranking span:hover,
.todo-ranking span.select,
.clear-todos:hover {
    color: #40fd3a;
}

.clear-todos {
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 10px;
    padding: 1.5rem;
}

.actions img{
    width: 27px;
    height: 27px;
    visibility: hidden;
}

.actions:hover img {
    filter: invert(1) grayscale(100%) brightness(200%);
    cursor: pointer;
    visibility: visible;
}

.actions button:last-of-type {
    margin-right: 0;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .container {
        margin-top: 50px;
    }

    .app-name h1 {
        font-size: 36px;
    }

    .new-list {
        height: 60px;
    }

    .new-input input {
        font-size: 18px;
    }

    .text-item {
        font-size: 16px;
    }

    .texts-info {
        font-size: 12px;
    }

    .todo-ranking span {
        padding: 0 4px;
    }

    .actions {
        padding: 1rem;
    }
    
}

@media screen and (max-width: 576px) {
    .container {
        margin-top: 30px;
        padding: 0 10px;
    }

    .header {
        margin-bottom: 0.5rem;
    }

    .app-name h1 {
        font-size: 30px;
    }

    .new-list {
        height: 50px;
    }

    .new-input input {
        font-size: 16px;
    }

    .text-item {
        font-size: 14px;
    }

    .todo-text {
        height: 60px;
    }

    .texts-info {
        height: 60px;
        font-size: 10px;
        padding: 0 10px;
    }

    .todo-ranking span {
        padding: 0 2px;
    }

    .actions {
        padding: 0.5rem;
    }
}
